<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Challenge 7 - Sujin Choi</title>

    <style>
        * {
            font-family: 'Oxygen', sans-serif;
        }

        .wrapper {
            width: 80%;
            margin:auto;
        }

        button {
            width: 86px;
            height: 50px;
        }
    </style>
</head>

<body>
    <%- include('./hero.ejs') %>
    <div class="wrapper">
        <h1>Cat</h1>
        <h2>The cat is a domestic species of small carnivorous mammal. It is the only domesticated species in the family Felidae and is commonly referred to as the domestic cat or house cat to distinguish it from the wild members of the family. </h2>
    </div>

    <%- include('./footer.ejs') %>
</body>

</html>